<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse"style="height:80px">
  <div class="container-fluid">
    <div class="navbar-header">
        {% if user.is_authenticated %}
      <a class="navbar-brand" href="{% url 'home' %}" style="font-family: monospace;font-size:25px;font-weight: 40000;color: white; padding-top:23px;">Home</a>&nbsp;<br>
      <h4 style= "color:white">{{profile_details.user.username }}</h4>
      
    </div>

    <div class="col-sm-6 col-md-6" id ="button"style="padding:4px" >
        
        <ul style= "height:50px; padding:10px" >
          <li class="dropdown"style= "height:50px padding:10px" >
            <a  style= "height:50px; font-size:20px;"href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="true">Account
                      <span class="caret"></span>
                  </a>
            <ul class="dropdown-menu" role="menu" style="color:white; background-color:black">
              <li style="color:white;">
                <a style="color:white;"    href="{% url 'edit_profile' %}">Edit/create Profile</a>
              </li>
              <li>
                  <a  style="color:white;"href="{% url 'profile' %}">View My Profile</a>
                </li>
              <li>
                <a style="color:white;" href="/accounts/password/change">Change Password</a>
              </li>
              <li>
                <a  style="color:white;"href="/logout">Logout</a>
              </li>
  
              <li>
                <a  style="color:white;"href="{% url 'upload_image' %}">upload an Image</a>
              </li>
            </ul>
          </li>
        </ul>
  
                 
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>
  
        {% endif %}
      </div>
      
  </div>
    
 
  
  
 
</nav>

</body>

</html>
