{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<!Doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
  <center>
    <div class="row"id ="prof">
        <div class="col-md-12" style="padding:50px";>        
            <img src="{{profile_details.business_logo.url}}" class="img-responsive" alt="Image"style="border-radius:50%;height: 325px;width: 250px"> 
            <ul><li><a  class="navbar-brand"style="color:black;"    href="{% url 'edit_profile' %}">Edit/create Profile</a></li></ul>             
            <h2>{{profile_details.user.username }}</h2>
            <button><a href ="{% url 'create_item' %}"> Post New Items</a> </button>
            <hr style="color:black">
        </div>
    </div>
  </center>
  <div class="row"> 
    {%for item in items%}
    <center>
        <div id="">
            <div class="col-md-3">
                <div class="boxes" style="height:360px;">
                    <a href="" data-toggle= "modal" data-target="#{{item.id}}">
                        <img src="{{item.item_picture.url}}" class="img-responsive" alt="Image" height="340px" width="340px">
                    </a>
                    <h3>{{item.item_description}}</h3>
                    <h6>Uploaded on : {{item.upload_date}}</h6>
                </div>
            </div> 
        </div>   
    </center>
    {%endfor%}
  </div> 
</div>
</body>
</html>
{% endblock %}