

{% extends 'base.html' %}
<!Doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    

{% block content %}
 

<center>
<div class="row">

    <div class="col-sm-12" style="padding:50px";>
        <h5 >{{profile.user.name }}</h5>
        <a href="" data-toggle="modal" data-target="#{{pic.id}}"><img src="{{profile_details.prof_pic.url}}" class="img-responsive" alt="Image" height="300px" width="200px"></a> 
    </div>
</div>

<div id="{{pic.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
       
          <div class="modal-content modal-lg">
            <div class="modal-header">        
    
            </div>
            <div class="modal-body">
                <img src="{{profile_details.prof_pic.url}}" class="img-responsive" alt="Image" height="1000px">
              <div class ="description">
              <p>{{pic.caption}}</p>
              <!-- <h2 class="modal-title">{{pic.name}}</h2> -->
              <!-- <h6>{{pic.upload_date}}</h6> -->
    
    
    
              <ul class="list-inline">
                  <li class="list-inline-item">  
                      <a class="facebook-share-button" class="tooltip-test" title="Share on Facebook"
                          href=" " target="_blank">
                        
                      </a>
                  </li>
              </ul>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
      
      
        </div>
      </div>
    </div>
   
</center>

    {%for pic in images%}
    <center>
       
        <div class="row" id="pictures"> 
            
         
          <div class="col-sm-12">
    
    

            <a href="" data-toggle= "modal" data-target="#{{pic.id}}"><img src="{{pic.image.url}}" class="img-responsive" alt="Image" height="700px" width="700px"></a> 
            <h3>{{pic.caption}}</h3>
            <h6>{{pic.upload_date}}</h6>
          </div>    
      
      </div> 
 
   
</center>

<div id="{{pic.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
   
      <div class="modal-content modal-lg">
        <div class="modal-header">        

        </div>
        <div class="modal-body">
            <img src="{{pic.image.url}}" class="img-responsive" alt="Image" height="1000px">
          <div class ="description">
          <p>{{pic.caption}}</p>
          <h2 class="modal-title">{{pic.name}}</h2>
          <h6>{{pic.upload_date}}</h6>



          <ul class="list-inline">
              <li class="list-inline-item">  
                  <a class="facebook-share-button" class="tooltip-test" title="Share on Facebook"
                      href=" " target="_blank">
                      Share
                  </a>
              </li>
          </ul>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
  
  
    </div>
  </div>
</div>
</div>
    {%endfor%}


 
{% endblock %}
 
</body>
</html>